@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

/* .container {
	margin: 0 auto;
} */

html {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	background: #ffffff;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.main-container {
	flex-grow: 1;
}

.main-header {
	background: #ffffff;
	color: #000000;
}

.navigation {
	display: flex;
	width: 1200px;
	margin: 0 auto;
}

.navigation-list {
	margin: 0;
	padding: 0;
	width: 490px;
}

.navigation-user {
	max-width: 300px;
	margin-left: auto;
}

.navigation-link {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	color: #000000;
	text-align: center;
	text-decoration: none;
}

.navigation-item-search {
	background-image: url("../images/search.svg");
	background-repeat: no-repeat;
}

.navigation-item-favourites {
	background-image: url("../images/favorite.svg");
	background-repeat: no-repeat;
}

.page-container {
	width: 1200px;
	margin: 0 auto;
}

.main-index {
	background-image: url("../images/welcome.svg");
	background-repeat: no-repeat;
}

.catalog-filter {
	background-image: url("../images/background-catalog.jpg");
	background-repeat: no-repeat;
}

.reasons-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.reasons-item-city {
	display: flex;
	justify-content: space-between;
	width: 400px;
	flex-direction: column;
}

.booking {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 0 40px;
	width: 1200px;
	text-align: center;
}

.booking-title {
	display: flex;
	justify-content: center;
	width: 297px;
	margin: auto;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.booking-description {
	display: flex;
	justify-content: center;
	width: 592px;
	margin: auto;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333333;
}

.reasons-sublist-container {
	display: flex;
	text-align: center;
	justify-content: center;
}

.reasons-item-bridge-container {
	display: flex;
	text-align: center;
	justify-content: center;
}

.button-all {
	display: flex;
	text-align: center;
	justify-content: center;
	width: 574px;
	margin: auto;
}

.mailing {
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 0 40px;
	width: 1200px;
	text-align: center;
}

.mailing-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #ffffff;
	display: flex;
	justify-content: center;
	width: 404px;
	margin: auto;
}

.mailing-description {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	display: flex;
	justify-content: center;
	width: 475px;
	margin: auto;
}

.mailing-form {
	display: flex;
	justify-content: center;
	width: 800px;
	margin: auto;
}

.page-footer {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	margin: auto;
}

.footer-social {
	display: flex;
	justify-content: center;
	width: 212px;
	margin-left: auto;
}

.footer-social-list {
	display: flex;
	justify-content: center;
	width: 142px;
	margin: auto;
}

.footer-contacts {
	display: flex;
	justify-content: center;
	width: 331px;
	margin: auto;
}

.footer-links {
	display: flex;
	justify-content: center;
	width: 115px;
	margin: auto;
}

.reasons b {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
}

.reasons > p {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
}

.reasons-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.reasons-description {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #ffffff;
}

.reasons-item-city .reasons-title {
	display: flex;
	justify-content: center;
	width: 230px;
	margin: 0 85px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.reasons-item-city .reasons-description {
	display: flex;
	justify-content: center;
	width: 230px;
	margin: 0 85px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #333333;
}

.reasons-item-bridge .reasons-title {
	display: flex;
	justify-content: center;
	width: 230px;
	margin: 0 85px;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.city-container {
	display: flex;
	justify-content: center;
	width: 1200px;
}

.reasons-item-bridge .reasons-description {
	display: flex;
	justify-content: center;
	width: 230px;
	margin: 0 85px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #333333;
}

.reasons-item-bridge {
	background: rgba(131, 179, 211, 0.2);
	display: flex;
	justify-content: space-between;
	width: 400px;
	flex-direction: column;
}

.reasons-item-bridge:nth-child(2n+1) {
	background: rgba(131, 179, 211, 0.12);
}

.reasons-item-with-photo {
	background: #82b3d3;
}

.reasons-sublist {
	background: #ffffff;
}

.reasons-item-city:nth-child(2n+1) {
	background: rgba(131, 179, 211, 0.12);
}

.button.button-all {
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background: #756157;
	border-radius: 4px;
	text-decoration: none;
}

.field {
	background: #f2f2f2;
	border-radius: 10px 0 0 10px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	align-items: center;
}

.mailing-button {
	background: #82b3d3;
	border-radius: 0 10px 10px 0;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
}

.social-link {
	background: #83b3d3;
}

.social-link-icon-vk {
	background-image: url("../images/vklogo.svg");
}

.social-link-icon-tg {
	background-image: url("../images/telegram-logo.svg");
}

.social-link-icon-youtube {
	background-image: url("../images/youtube-logo.svg");
}

.footer-contacts-phone {
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.inner-header-title {
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
	color: #ffffff;
}

.breadcrumbs-item {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	text-decoration: none;
}

.breadcrumbs-link {
	text-decoration: none;
	color: #ffffff;
}

.catalog-filter-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-transform: capitalize;
	color: #ffffff;
}

.control {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
}

.button[type="submit"] {
	background: #82b3d3;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	border: solid #82b3d3;
}

.button[type="reset"] {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
}

.catalog-hotels-result {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
}

.select-control {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}

.product-card-link {
	text-decoration: none;
}

.product-card-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}

.product-card-price {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}

.button-detailed {
	background: #756157;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.button-favourites {
	background: #82b3d3;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.product-rating {
	background: #f2f2f2;
	border-radius: 4px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
}

.pagination {
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background: #82b3d3;
	border: 1px solid #82b3d3;
	border-radius: 4px;
}

.pagination-link {
	text-decoration: none;
}

.pagination-catalog-hotels-result {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}

.pagination-select-control {
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #333333;
}
